
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

header {
    text-align: center;
    padding: 40px 20px;
    background-color: #ff6f61;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

.lista-presentes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 40px;
}

.card-presente {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    transition: 0.3s;
        background: rgba(255, 255, 255, 0.92);
    backdrop-filter: blur(8px);
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.card-presente:hover {
    transform: translateY(-5px);
        transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}

.card-presente img {
    width: 100%;
    height: 200px;
    object-fit: cover;
        width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 20px;
}

.card-presente h3 {
    margin: 15px 0;
}

.card-presente button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
        background: linear-gradient(135deg, #ff6f61, #ff9472);
    border: none;
}

.card-presente button:hover {
    background-color: #e85b50;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url("foto.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

/* Camada escura transparente */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); /* ajuste 0.4 para mais ou menos escuro */
    z-index: -1;
}

.reservado {
    opacity: 0.6;
}

.reservado button {
    background-color: rgb(255, 255, 255);
}
.mensagem-acolhedora {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Georgia', serif;
font-style: italic;

}
